/*ROOT CON PALETA DE COLOR DE LA PAGINA*/
/* Pseudo elemento o custom property */
:root{
    --blanco : #ffffff;
    --negro : #212122;
    --primario : #FFC107;
    --secundario : #0097A7;
    --gris : #757575;
    /* Tambien dse pueden definir diferentes elementos como tamaño */
    /* --fuente preincipal : 3.8rem; */
}

/*CONVERCION PX A REM*/
/* El cambio que se hace en el HTML Y BODY  es para reiniciar el font size y que 1 rem = 10px */
/* Esto nos sirve para facilitar el trabajo multi dispositivo  */
html{
    font-size: 62.5%;
    /*Se agrega elemento por temas de box sizing para .hero*/
    box-sizing: border-box;
}
    /* "*" es un selector universal */
    /* "," sirve para juntar clases con propiedades iguales*/
    /*"before" y "after" son pseudo elementos (no son seleccionables en terminal)*/
    *, *:before, *:after{
        box-sizing: inherit;
        /*hace que un elemento no aumente su tamaño total con padding y con margin*/
    }

/* Con este simple cambio toda la pagina se puede trabajar y normalizar en rem 1rem = 10px */    
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--secundario) 0%, var(--blanco) 60% );
}

/*DEFINICION DE HEADINGS*/
/*Para mas comodidad se definen las caracteristicas de los "h" para que sea consistente en todo el proyecto*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center;
}


/*HEADER STYLE*/
/* Existen diversas maneras de hacer selecciones unos ejemplos:  */
/* p{} = selector de etiqueta / .clase{}=selector de clase / #id=selector de ID  */
.titulo{
    color: var(--negro); 
    font-size: 4rem; 
}
.titulo span{
    font-size: 2rem;
}

/*NAVEGACION PRINCIPAL STYLE*/
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}
.nav-bckg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
/* Media Queri 480px telefono 768px tablet 1140px PC 1400px TV*/
@media (min-width: 480px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
/* :hover sirve cuando para determinar una accion en css */
/* existen mas pseudo clases :hover :visited etc */
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

/*HERO STYLE*/
.hero{
    /*".." Sirve para volver a buscar una imagen */
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

    /*Sirve para tomar como referencia la clase padre
        se le da una posicion relativa */
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0, 0, 0 , 70%);/*Sintaxis vieja mucho soporte*/
    background-color: rgb(0 0 0/ 70%);/*Sintaxis nueva poco soporte aun*/
    height: 100%;
    width: 100%;

    /*ESTE CODIGO SRVE SIEMPRE PARA ALINEAR VER/HORIZONTAL CON DISPLAY FLEX*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,.contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: center;
}
/*Boton reutilizable*/
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem ;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;

}@media (min-width: 768) {
    .boton{
        width: auto;
    }
}



