/* Pseudo elemento o custom property */
:root{
    --blanco : #ffffff;
    --negro : #212122;
    --primario : #FFC107;
    --secundario : #0097A7;
    --gris : #757575;
    /* Tambien dse pueden definir diferentes elementos como tamaño */
    /* --fuente preincipal : 3.8rem; */
}
/* El cambio que se hace en el HTML Y BODY  es para reiniciar el font size y que 1 rem = 10px */
/* Esto nos sirve para facilitar el trabajo multi dispositivo  */
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
/* Con este simple cambio toda la pagina se puede trabajar y normalizar en rem 1rem = 10px */

/* Existen diversas maneras de hacer selecciones unos ejemplos:  */
/* p{} = selector de etiqueta / .clase{}=selector de clase / #id=selector de ID  */
.titulo{
    color: var(--negro); 
    text-align: center;
    font-size: 4rem; 
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}
.nav-bckg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
/* :hover sirve cuando para determinar una accion en css */
/* existen mas pseudo clases :hover :visited etc */
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}

